.introducao {
  justify-self: center;
  align-self: center;
  margin-bottom: 150px;
  z-index: 1;
}

.introducao h1 {
  text-align: center;
  margin-top: 30px;
  color: white;
}

.paraquedas-img {
  width: 100%;
  z-index: 1;
}

.paraquedas-img img {
  animation: float 2s ease-in-out infinite;
  animation-direction: alternate;
  display: block;
  width: 100%;
}

@keyframes float {
  from {
    transform: translate3d(0, 20px, 0);
  }
  to {
    transform: translate3d(0, 50px, 0);
  }
}

@keyframes motanhas {
  0% {
    transform: translate3d(0, 0px, 0);
  }
  50% {
    transform: translate3d(-5px, 0, 0);
  }
  100% {
    transform: translate3d(0px, 0, 0);
  }
}
