.menu {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
  align-items: center;
}

.menu > a {
  margin-bottom: 20px;
}

.menu a {
  color: var(--cor-0);
  text-decoration: none;
}

.menu-itens {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.menu-itens a:hover {
  color: rgba(0, 183, 255, 0.315);
}

.introducao {
  justify-self: center;
  align-self: center;
  margin-bottom: 150px;
  z-index: 1;
}

.introducao h1 {
  text-align: center;
  margin-top: 30px;
  color: var(--cor-0);
}

.paraquedas-img {
  width: 100%;
  z-index: 1;
}

.paraquedas-img img {
  animation: float 2s ease-in-out infinite;
  animation-direction: alternate;
  display: block;
  width: 100%;
}

@keyframes float {
  from {
    transform: translate3d(0, 20px, 0);
  }
  to {
    transform: translate3d(0, 50px, 0);
  }
}

@media (max-width: 850px) {
  .introducao {
    margin-bottom: 50px;
  }
}

@media (max-width: 480px) {
  .introducao h1 {
    font-size: 1.5rem;
  }
  .introducao span {
    font-size: 2.5rem;
  }
}
