.planos-bg {
  background-image: url(../img/fundo-montanhas-responsivo.png);
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-size: 100%;
  background-attachment: fixed;
}

.planos {
  padding-top: 60px;
  padding-bottom: 60px;
}

.planos-conteudo h1 {
  padding-bottom: 60px;
}

.planos-itens {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.planos-item {
  border: 2px solid rgba(255, 255, 255, 0.445);
  padding: 20px;
}

.planos-item a {
  margin-left: 20px;
}

.planos-item p {
  margin-bottom: 15px;
}

.planos-vantagens {
  list-style: none;
  margin-bottom: 20px;
}

.planos-vantagens li + li {
  margin-top: 15px;
}

.planos-vantagens li {
  display: flex;
  align-items: center;
}

.planos-vantagens li::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 6px;
  background: rgba(255, 255, 255, 0.445);
  margin-right: 8px;
}

@media (max-width: 900px) {
  .planos-bg {
    background-size: 100vh;
    background-attachment: fixed;
  }
  .planos-item > p {
    font-size: 2rem;
  }

  .planos-item {
    min-width: 400px;
  }

  .planos-itens {
    gap: 40px;
    overflow-x: auto;
  }
}
