.saltos {
  padding-top: 60px;
  padding-bottom: 60px;
}

.saltos h1 {
  margin-bottom: 60px;
}

.salto-conteudo {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  align-items: center;
  gap: 20px;
}

.salto-conteudo-cursos {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  align-items: center;
  gap: 20px;
}

.salto-infos h2 {
  margin-bottom: 10px;
}

.salto-conteudo picture,
.salto-conteudo-cursos picture {
  max-width: 100%;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.4s;
}

.salto-conteudo picture:hover,
.salto-conteudo-cursos picture:hover {
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  box-sizing: border-box;
}

@media (max-width: 850px) {
  .salto-conteudo,
  .salto-conteudo-cursos {
    grid-template-columns: 1fr;
  }
  .salto-conteudo-cursos .salto-infos {
    grid-row: 2;
  }
  .salto-infos {
    margin-bottom: 40px;
  }
}
