@import "./css/global.css";
@import "./css/introducao.css";
@import "./css/informacoes.css";
@import "./css/planos.css";
@import "./css/saltos.css";
@import "./css/agendar.css";
@import "./css/contato.css";
@import "./css/footer.css";

@import "./componentes/tipografia.css";
@import "./componentes/utilidades.css";
@import "./componentes/cores.css";
@import "./componentes/animacao.css";

* {
  margin: 0;
  padding: 0;
  border: 0;
}

header {
  background-image: url(./img/23284.jpg);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  display: grid;
}

img {
  display: block;
  max-width: 100%;
}
