@import "./css/global.css";
@import "./css/introducao.css";
@import "./css/extra.css";
@import "./css/planos.css";
@import "./css/informacoes.css";
@import "./css/agendar.css";
@import "./css/contato.css";
@import "./css/footer.css";

@import "./css/agenda/agenda.css";

@import "./css/animacoes/menu-mobile.css";

@import "./componentes/tipografia.css";
@import "./componentes/utilidades.css";
@import "./componentes/cores.css";
@import "./componentes/animacao.css";

* {
  margin: 0;
  padding: 0;
  border: 0;
}

header {
  background-image: url(./img/23284.jpg);
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-size: cover;
  display: grid;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}
